<div class="sidebar-nav sidebar-intelbras">
  <ul class="nav">
    <li class="nav-item active">
      <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
    </li>
    <div id="accordion">
      <div class="card" [ngClass]="{'card-active':canal_active === true}">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button (click)="canal_active = !canal_active" class="btn btn-link collapsed" data-toggle="collapse"
              data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
              Canal
            </button>
          </h5>
        </div>
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
            Carregar
          </div>
          <div class="card-body">
            Relatório
          </div>
        </div>
      </div>
      <div class="card" [ngClass]="{'card-active':produto_active === true}">
        <div class="card-header" id="headingTwo">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
              aria-controls="collapseTwo" (click)="produto_active = !produto_active">
              Produto
            </button>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
          <div class="card-body" routerLink="produto">
            Carregar
          </div>
          <div class="card-body">
            Relatório
          </div>
        </div>
      </div>
      <div class="card" [ngClass]="{'card-active':historico_active === true}">
        <div class="card-header" id="headingThree">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
              aria-controls="collapseThree" (click)="historico_active = !historico_active">
              Histórico
            </button>
          </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
          <div class="card-body">
            Carregar
          </div>
          <div class="card-body">
            Relatório
          </div>
        </div>
      </div>
      <div class="card" [ngClass]="{'card-active':familia_active === true}">
        <div class="card-header" id="headingFour">
          <h5 class="mb-0">
            <button (click)="familia_active = !familia_active" class="btn btn-link collapsed" data-toggle="collapse"
              data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
              Família
            </button>
          </h5>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
          <div class="card-body">
			<a class="nav-link-carregar" routerLink="familia">Carregar</a>
          </div>
          <div class="card-body">
            Relatório
          </div>
        </div>
      </div>
      <div class="card" [ngClass]="{'card-active':estimativa_active === true}">
        <div class="card-header" id="headingFive">
          <h5 class="mb-0">
            <button (click)="estimativa_active = !estimativa_active" class="btn btn-link collapsed" data-toggle="collapse"
              data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
              Estimativa
            </button>
          </h5>
        </div>
        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
          <div class="card-body" routerLink="estimativa">
            Carregar
          </div>
          <div class="card-body">
            Relatório
          </div>
        </div>
      </div>
      <div class="card" [ngClass]="{'card-active':exemplo_active === true}">
        <div class="card-header" id="headingFour">
          <h5 class="mb-0">
            <button (click)="exemplo_active = !exemplo_active" class="btn btn-link collapsed" data-toggle="collapse"
              data-target="#exemplo_active_collapse" aria-expanded="false" aria-controls="exemplo_active_collapse">
              Exemplo
            </button>
          </h5>
        </div>
        <div id="exemplo_active_collapse" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
          <div class="card-body">
            <a class="nav-link-carregar" routerLink="example">Carregar</a>
          </div>
          <div class="card-body">
            Relatório
          </div>
        </div>
      </div>
    </div>
  </ul>
</div>