<!-- <div class="container">
  <div class="row">
    <button routerLink="new" type="button" class="btn btn-primary">Create</button>
  </div>
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of data">
          <td>{{item.name | json}}</td>
          <td>{{item.email | json}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div> -->
<app-header-page [routeName]="pageName"></app-header-page>
<app-upload [operation]="pageName"></app-upload>