    <h4>Produto</h4>
    <hr>

  <div class="input-group mb-8">
    <label>Sku </label>
    <input type="text" class="form-control" aria-label="Recipient's username" aria-describedby="basic-addon2">
    <div class="input-group-append">
      <span class="input-group-text" id="basic-addon2">Pesquisar</span>
    </div>
  </div>

  <div class="input-group mb-8">
      <label>Nome </label>
      <input type="text" class="form-control" aria-label="Recipient's username" aria-describedby="basic-addon2">
      <div class="input-group-append">
        <span class="input-group-text" id="basic-addon2">Pesquisar</span>
      </div>
  </div>

  <div class="input-group mb-8">
      <label>Código Família </label>
      <input type="text" class="form-control" aria-label="Recipient's username" aria-describedby="basic-addon2">
      <div class="input-group-append">
        <span class="input-group-text" id="basic-addon2">Pesquisar</span>
      </div>
  </div>
 
  <hr>

  <h4>Relatório</h4>

  <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">SKU</th>
          <th scope="col">Nome</th>
          <th scope="col">ID Família</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row"> </th>
          <td>  </td>
          <td> </td>
          <td> </td>
        </tr>
        <tr>
          <th scope="row"> </th>
          <td> </td>
          <td> </td>
          <td> </td>
        </tr>
      </tbody>
    </table>

    <button class="btn btn-sucess">Gerar Relatório</button>