<div class="container">
  <div class="row">
    <div class="col-md-12">

      <div class="input-group">
        <input [(ngModel)]="myFile" (click)="fileInput.click()"  class="form-control input-upload" ngModel="myFile">
		
        <div class="input-group-append">
          <button (click)="fileInput.click()" type="button" class="btn btn-success btn-s btn-upload " (click)="validateFile()">
            Selecionar
          </button>
		  <span style="visibility: hidden; position: absolute; overflow: hidden; width: 0px; height:0px;border:none;margin:0; padding:0">
			 <input (change)="getFileName()" type="file" #fileInput ng2FileSelect [uploader]="uploader" />
		  </span>
        </div>
      </div>
		

      <div *ngIf="isNotValid">
        <div class="alert alert-danger" role="alert">
          Extensão não é valida! Porfavor, selecione um aquivo do tipo csv.
        </div>
      </div>
     
      <div class="div-btn-upload-confirm">
        <button type="button" class="btn btn-success btn-s btn-upload-confirm" (click)="sendFile()" [disabled]="!uploader.getNotUploadedItems().length">
          Confirmar
        </button>
      </div>
    </div>
  </div>
</div>