.btn-upload {
    border: solid 2px #18a2218c;
    width: 150px;
    background-color: #fff;
    color: black;
}

.input-upload {
    border: solid 2px #18a2218c;
}

.btn-upload-confirm {
    width: 150px;
    float: right;
    background-color: #18a221;
    line-height: 35px;
}

.div-btn-upload-confirm {
    margin-top: 51px;
}
